{% extends "base.html" %}
{% block title %}Monkeys to Bananas: Game Owner Wait{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="d-none" id="hiddenInfo">
    <form name="gameValues">
      <input type="hidden" id="numPlayers" value="{{info.numPlayers}}" />
    </form>
  </div>
  
  <div class="container">
    <h1>Monkeys to Bananas!</h1>
    <hr>
    {% if info.ownerName: %}
      Hello, {{info.ownerName}}!
    {% else %}
      Something went wrong.  Return to <a href="/">home</a>?
    {% endif %}
    <hr>

    Game code: {{info.gameCode}}<br>
    Players who have joined this game:

    <ul>
      <li>{{info.ownerName}} <--- game owner</li>
      <li>Players not yet admitted into the game:</li>
      <ul>
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for player in info.players %}
              {% if player[0] != info.ownerName %}
                {% if player[4] == 0 %}
                  <tr>
                    <td>{{player[0]}}</td>
                    <td><button class="btn btn-sm btn-primary">Admit into game</button></td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </ul>
      <li>Total accepted players so far: {{info.numAcceptedPlayers}}</li>
      {% if info.numAcceptedPlayers > 1 %}
        <ul>
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for player in info.players %}
                {% if player[0] != info.ownerName %}
                  {% if player[4] != 0 %}
                    <tr>
                      <td>{{player[0]}}</td>
                      <td><button class="btn btn-sm btn-danger">Remove from game</button></td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </ul>
      {% endif %}
    </ul>


    <hr>

    <button class="btn btn-{% if info.numAcceptedPlayers >= info.minNumPlayers %}primary{% else %}secondary{% endif %}" onclick="startGame()">Start game</button>

  </div>

  <hr>

{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function() {
      setTimeout(function() {
        window.location.reload(true);
      }, 10000);
    });

    function startGame() {
      let numPlayers = document.getElementById("numPlayers").value;
      if (numPlayers >= 3) {
        console.log("Time to start turnStart.html");
      }
      else {
        console.log("Not enough players, yet");
      }
    }
 </script>
{% endblock %}
