{% extends "base.html" %}
{% block title %}Monkeys to Bananas: Start{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="d-none">
    <h1>Preliminary Tests</h1>
    {% if info.numActiveGames:  %}
    I have games!<br>
    Info = {{ info.numActiveGames }}<br>
    Number of games = {{info.numActiveGames}}<br>
    Maximum number of active games allowed = {{info.maxActiveGames}}<br>
    {% else %}
    I don't have games!
    {% endif %}
  </div>
  
  <h1>Monkeys to Bananas!</h1>
  <hr>
  {% if info.numActiveGames >= info.maxActiveGames: %}
    <p>Too many games going on. Try again later...</p>
    <button class="btn btn-primary m-2" onclick="location.reload();">Try again</button>
  {% else %}
    <form action="/signIn" method="post">
      Enter a user name to use for a game: <input type="text" id="userNameInput" name="userName" class="form-control?" oninput="updateButton()" /><br>
      <button type="button" class="btn btn-secondary m-2" id="signInButton" onclick="signIn()">Sign in</button>
    </form>
  {% endif %}

<script>
    var legalUserNameCharacters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
  
    function updateButton() {
      console.log("In updateButton()...");
      
      if (checkForValidUserName()) {
        document.getElementById("signInButton").classList.remove("btn-secondary");
        document.getElementById("signInButton").classList.add("btn-primary");
      }
      else {
        document.getElementById("signInButton").classList.remove("btn-primary");
        document.getElementById("signInButton").classList.add("btn-secondary");
      }
    }

    function checkForValidUserName() {
      console.log("   Starting checkForValidUserName()...");
      let userNameText = document.getElementById("userNameInput").value;
      let isLegal = false;
      if (userNameText.length > 0) {
        console.log("      userNameText = " + userNameText);
        isLegal = true;
        let i = 0;
        while (i < userNameText.length && isLegal) {
          console.log("         Checking character " + i + ": " + userNameText.charAt(i));
          if (legalUserNameCharacters.indexOf(userNameText.charAt(i)) === -1) {
            isLegal = false;
          }
          else {
            i++;
            if (i > 500) {
              console.log("500");
              isLegal = false;
            }
          }
        }
      }
      return isLegal;
    }
  
    function signIn() {
      console.log("You clicked the signin button");
    }
  </script>
  
{% endblock %}
{% block scripts %}
{% endblock %}
